$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.realties{
  .thumbnail{
    img{
      width: 100%;
      min-height: 340px;
    }
    .thumb-image{
      position: relative;
      .price{
        position: absolute;
        top: 0;
        left: -15px;
      }
    }
  }
  
}